{% extends "content.html" %}

{% macro header %}
    <{{ h_tag }}>{{ header_text }}</{{ h_tag }}>
{% endblock %}

{% macro header(h_tag, header_text) -%}
    <{{ h_tag }}>{{ header_text }}</{{ h_tag }}>
{%- endmacro %}

{% macro plaintext(plain_text) -%}
    <p>{{ plain_text }}</p>
{%- endmacro %}

{% macro url(href, content) -%}
    <a class="reference external" href="{{ href }}" target="_blank">{{ content }}</a>
{%- endmacro %}

{% macro compound_text(compound_items) -%}
    <p>
        {% for item in compound_items %}
            {% if item.type == "text" %}
                {{ item.content }}
            {% elif item.type == "anchor" %}
                {{ url(item.href, item.content) }}
            {% elif item.type == "menu_selection" %}
                <span class="menuselection">{{ item.content }}</span>
            {% endif %}
        {% endfor %}
    </p>
{%- endmacro %}

{% block compound_text %}
{% endblock %}

{% block image %}
    {% if image_obj.content|length == 1 %}
        {% if image_obj.content[0].src is string %}
            <figure class="align-default">
                <img src="{{ url_for('static', filename='img/' + image_obj.content[0].src) }}">
                {% if 'caption' in image_obj.content[0] %}
                    <figcaption>
                        <p>
                            <span class="caption-text">{{ image_obj.content[0].caption }}</span>
                        </p>
                    </figcaption>
                {% endif %}
            </figure>
        {% else %}
            <div class="table-wrapper docutils container">
                <table class="docutils align-default">
                    {% if 'caption' in image_obj.content[0] %}
                        <caption>
                            <span class="caption-text">{{ image_obj.content[0].caption }}</span>
                        </caption>
                    {% endif %}
                    <tbody>
                        <tr class="row-odd">
                            {% for image_src in image_obj.content[0].src %}
                                <td>
                                    <figure class="align-default">
                                        <img src="{{ url_for('static', filename='img/' + image_src) }}">
                                    </figure>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% else %}
        <div class="table-wrapper docutils container">
            <table class="docutils align-default">
                <tbody>
                    <tr class="row-odd">
                        {% for image_item in image_obj.content %}
                            <td>
                                <figure class="align-default">
                                    <img src="{{ url_for('static', filename='img/' + image_item.src) }}">
                                    {% if 'caption' in image_item %}
                                        <figcaption>
                                            <p>
                                                <span class="caption-text">{{ image_item.caption }}</span>
                                            </p>
                                        </figcaption>
                                    {% endif %}
                                </figure>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}